@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Orbitron:wght@400;600;700;900&family=PT+Serif:wght@400;700&display=swap');

body {
  font-family: 'Kumbh Sans',sans-serif !important;
  background-color: #0D1117 !important;
  color: #fff !important;
}

label {
  font-size: 24px;
  color: #fff;
}

input.from-control, input.from-control:focus {
  background-color: #0D1117;
}

.error {
  /* position: absolute; */
  color: red;
  font-size: 18px;
}
.reset {
  margin-left: 5px;
}

form {
  background-color: #161B21;
  margin: 50px 0;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 15px #fff;
}

input[type='text'],
input[type='email'],
textarea, input,.form-control {
  padding: 6px 12px;
  font-size: 24px;
  line-height: 1.42857143;
  color: #555;
  background-color: #0D1117 !important;
  background-image: none;
  border: 1px solid #30363D  !important;
}
